<%- include('../partials/header')%>
<div class="square">
    <p class="songTitle"><%-top50[id].title%></p>
    <p class="songArtist"><%-top50[id].artist%></p>
    <p class="songStreams"><%-top50[id].streams%></p>
</div>
<%- include('../partials/footer', {page: id})%>